<!DOCTYPE html>
<html lang="en-us">
<head>

  <%- include('../../layout/head') %>
</head>

<body>
  <header id="header">

    <%- include('../../layout/header') %>
    
  </header>

  <main id="main-content">

    <form id="book-search" action="/searches" method="POST">
      <fieldset>
        <legend>Book Search</legend>
        <label>
          <span>Enter Search Term(s):</span>
          <input type="text" name="searchTerm" placeholder="Search by title or author here!" required/>
        </label>
      </fieldset>
      <fieldset>
        <label>
          <span>Title</span>
          <input type="radio" id="title" name="radio" value="title" checked />
        </label>
        <label>
          <span>Author</span>
          <input type="radio" id="author" name="radio" value="author" />
        </label>
      </fieldset>
      <button type="submit">Search the libraries of humanity!</button>
    </form>

  </main>
  <footer id="footer">

    <% -include('../../layout/footer') %>

  </footer>
</body>
</html>
