/* 
font-family: 'Girassol', cursive;
font-family: 'Shadows Into Light', cursive;
font-family: 'Special Elite', cursive;
font-family: 'Handlee', cursive; 
*/

body {
  background: linear-gradient(to bottom right, rgba(117, 3, 3, 0.938), rgba(90, 6, 6, 0.918), rgba(49, 0, 0, 0.952));
}

main {
  text-align: center;
}

footer a {
  display: inline-block;
  color: goldenrod;
}

footer a:hover {
  color: black;
  border: 1px solid goldenrod;
}

h1, h2, h3, h4, h5 {
  font-family: 'Special Elite', cursive;
  color: white;
  margin: 1rem;


}

h1 {
  font-size: 6rem;
  text-align: center;
  margin: 2rem;
}

h2 {
  font-size: 4rem;
  margin: 1rem;
}

h3 {
  font-size: 1.5rem;
  letter-spacing: 1px;
}

h4 {
  font-size: 3rem;
}

h5 {
  font-size: 2rem;
}

p {
  font-family: 'Shadows Into Light', cursive;
  font-size: 1.5rem;
  margin: .5rem;
  color: white;
  line-height: 2rem;
  letter-spacing: 2px;
}

a {
  font-family: 'Shadows Into Light', cursive;
  text-decoration: none;
  color: white;
}

form {
  margin: 2rem;
}
