body {
  background: linear-gradient(to bottom right, rgba(117, 3, 3, 0.938), rgba(90, 6, 6, 0.918), rgba(49, 0, 0, 0.952));
}

main {
  text-align: center;
}

h1 {
  font-size: 6rem;
  color: white;
  text-align: center;
  padding: 2rem;
}

a {
  text-decoration: none;
  color: white;
}
