#book-search {
  padding: 1em .5em;
  font-family: 'Shadows Into Light', cursive;
  font-weight: 700;
  background: linear-gradient(to bottom right, rgba(192, 142, 15, 0.904), rgba(230, 185, 71, 0.911), rgba(172, 125, 7, 0.911));
  border: double 4px white;
  border-radius: 2em;
  font-size: 1.5em;
  margin-bottom: 125px;
}

#book-search legend {
  font-size: 2em;
  text-transform: capitalize;
  font-family: 'Special Elite', cursive;
  font-weight: 500;
}

#book-search fieldset {
  padding: 1em .5em;
}

#book-search button {
  margin: .5em;
  font-size: 1em; 
  font-family: 'Shadows Into Light', cursive;
  font-weight: 700;
  padding: .5em;
  border-radius: 2em;
  background: linear-gradient(to bottom right, rgba(192, 142, 15, 0.904), rgba(230, 185, 71, 0.911), rgba(172, 125, 7, 0.911));
  border: outset 4px white;
  opacity: 0.6;
  transition: 0.3s;
}

#book-search button:hover {
  opacity: 1;
}

#book-search #title, #book-search #author {
  display: inline-block;
  margin: 0;
}

@media(min-width: 600px) {
  .new {
    margin: 0 auto;
  }
}