#book-search {
  padding: 1rem .5rem;
  background: linear-gradient(to bottom right, rgba(192, 142, 15, 0.904), rgba(230, 185, 71, 0.911), rgba(172, 125, 7, 0.911));
  border: double 4px white;
  border-radius: 2rem;
  font-size: 1.25rem;
}

#book-search legend {
  font-size: 2rem;
  text-transform: capitalize;
}

#book-search fieldset {
  padding: 1rem .5rem;
}

#book-search button {
  margin: .5rem;
  font-size: 1.25rem; 
  padding: .5rem;
  border-radius: 2rem;
  background: linear-gradient(to bottom right, rgba(192, 142, 15, 0.904), rgba(230, 185, 71, 0.911), rgba(172, 125, 7, 0.911));
  border: outset 4px white;
  opacity: 0.6;
  transition: 0.3s;
}

#book-search button:hover {
  opacity: 1;
}

.img-wrapper {
  width: 90%;
  margin: 0 auto;
}

.img-wrapper img {
  width: 100%;
}

.search-button {
  padding: 1rem;
  margin: 1rem;
  font-size: 1.25rem;
  text-transform: capitalize;
  background: linear-gradient(to bottom right, rgba(192, 142, 15, 0.904), rgba(230, 185, 71, 0.911), rgba(172, 125, 7, 0.911));
  border-radius: 2rem;
  border: 2px solid white;
  opacity: 0.6;
  transition: 0.3s;
}

.search-button:hover {
  opacity: 1;
}

@media(min-width: 500px) {
  body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: auto;
    grid-gap: 1rem;
  }

  main {
    grid-column: 2 / 4;
    grid-row: 2 / auto;
  }

  /* article {

  } */

  .img-wrapper {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }

  .search-button {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .counter {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }

  #book-search {
    grid-column: 1 / 4;
    grid-row: 1 / 3;
  }
  footer {
    margin: 0 auto;
    grid-column: 1 / 2;
    grid-row: 4 / 6;
  }
  footer a {
    display: block;
    font-size: 2rem;
    margin: 1rem;
  }
}

@media(min-width: 700px) {
  body {
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-rows: 200px auto;
  }

  header {
    height: auto;
    background: url("/img/library-shelves.jpg") right;
    border-bottom: double 6px goldenrod;
    grid-column: 1 / 5;
    grid-row: 1 / 2;
  }

  .img-wrapper {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .search-button {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  #book-search {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
  }

  footer {
    grid-column: 1 / 5;
    grid-row: auto;
  }

  footer a {
    display: inline-block;
  }
}