<!DOCTYPE html>
<html lang="en-us">

<head>

  <%- include('../layout/head') %>
</head>

<body>
  <header id="header">

    <%- include('../layout/header') %>

  </header>

  <div class="img-wrapper">
    <img src="/img/bookr.png" alt="A Troiano-Barnhart Property">
  </div>

  <button class="search-button">
    <a href="./searches/new">Search</a>
  </button>

  <main id="bookResults">
    <h2>Book Results</h2>
    <section>
      <ul>
        <li></li>
      </ul>
    </section>
    

  </main>

  <footer id="footer">

    <%- include('../layout/footer') %>

  </footer>
</body>

</html>