<!DOCTYPE html>
<html lang="en-us">

<head>

  <%- include('../layout/head') %>
</head>

<body>
  <header id="header">

    <%- include('../layout/header') %>

  </header>
  <main id="main-content">
    <img src="/img/bookr.png" alt="A Troiano-Barnhart Property">
    <ul>
      <li><a href="./searches/new">Search</a></li>
    </ul>

  </main>
  <footer id="footer">

    <% -include('../layout/footer') %>

  </footer>
</body>

</html>