  <footer id="footer">
    <h3>social</h3>
    <a href="#"> <i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-pinterest"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>

    <p>@copy T.A.B. Productions</p>
  </footer>
